<div class="container text-center">
  <h1>About Us</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  developers and entrepreneurs to meet.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Rerum explicabo, aspernatur ut. 
      Ut nobis illum nesciunt minima rerum maxime quia a, odio qui asperiores 
      excepturi mollitia aperiam in perferendis iste.
  </p>
  
  
  
</div>